.app-container {
  display: flex;
  height: 100vh;
}

.leaderboard-section {
  width: 50%;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
  overflow: auto; /* in case the leaderboard has many entries */
}

.graphs-section {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.graph {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid black; /* This will render a 2px wide black border */
  border-left: 1px solid black;
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}

#leaderboard {
  width: 100%;
  position: relative;
}

.highlighted-row {
  background-color: rgb(48, 174, 48);
}
.highlighted-row:hover {
  background-color: rgb(48, 174, 48);
}
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  color: #141a39;
  cursor: default;
}

tr {
  transition: all 0.2s ease-in-out;
  border-radius: 0.2rem;
}

tr:hover {
  background-color: #fff;
  transform: scale(1.1);
  -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
  box-shadow: 0px 5px 15px 8px #e4e7fb;
}

td {
  height: 5rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  position: relative;
}

.number {
  width: 1rem;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: left;
}

.name {
  text-align: left;
  font-size: 1.2rem;
}

.points {
  font-weight: bold;
  font-size: 1.3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.points:first-child {
  width: 10rem;
}

.medal {
  height: 3rem;
  margin-left: 1.5rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .leaderboard-section,
  .graphs-section {
    width: 100%;
    flex: none;
  }

  .graphs-section {
    flex-direction: column;
  }

  .graph {
    margin-bottom: 20px;
  }
}
