:root {
    --primary: rgb(48, 174, 48);
    --secondary: rgb(1, 134, 6);
    --light: #F6FFF2;
    --dark: #263A4F;
}

body{
    background-image: url('../images/backgroundImage.jpg');
}

.bgBasic1{
    background-color: rgb(48, 174, 48);
}
.bgBasic2{
    background-color: rgb(1, 134, 6);
}

.basic1{
    color:rgb(48, 174, 48);
}

.basic2{
    color: rgb(1, 134, 6);
}

.btn {
    transition: .5s;
}

.lighten:hover {
    transition: 3s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

/* Current background styling, if want to change let John know!! */
/* .container::after{
    content: "";
   background: url('../images/foodies_background.jpg');
   background-size:cover;
   opacity: 0.1;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   position: absolute;
   z-index: -1;
}

.mainBackground{
background-image: url('../images/meatballs2.jpg');
} */

ul {
    list-style: none; /* Remove default bullets */
 }
ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: white; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
 }




 /* Darius profile page */

.image {
    width : 300px;
    height: 250px;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background  : rgba(0, 0, 0, 0);
    color       : #4E5155;
}

/* for labels of buttons */
label.btn {
    margin-bottom: 0;
}



.btn-outline-primary {
    border-color: #18c736;
    background  : transparent;
    color       : #25850d;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}


.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}



.account-settings-multiselect~.select2-container {
    width: 100% !important;
}





