:root {
  --primary: rgb(48, 174, 48);
  --secondary: rgb(1, 134, 6);
  --light: #f6fff2;
  --dark: #263a4f;
}

body {
  background-image: url("../images/backgroundImage.jpeg");
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.list-group-item {
    transition: all 0.3s;
}

.list-group-item:hover {
    background-color: #f5f5f5; /* A light gray for hover effect */
}

.list-group-item.active {
    background-color: #4CAF50;  /* Adjust to your branding color */
    border-color: #4CAF50;  /* Adjust to your branding color */
    color: white;
}


.image {
  border-radius: 50%;
  width: 250px; /* Adjust as needed */
  height: 250px;
  object-fit: cover; /* Keeps the aspect ratio of the image */
}


/* use in reference to root colours defined on */
.bgBasic1 {
    background-color: var(--primary); 
}

.bgBasic2 {
    background-color: var(--secondary);
}

.basic1 {
    color: var(--primary);
}

.basic2 {
    color: var(--secondary);
}



.lighten:hover {
  transition: 10s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}



ul {
  list-style: none; /* Remove default bullets */
}
ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: white; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.fadeInLeft {
  -webkit-animation: fadeInLeft 2s both;
  -moz-animation: fadeInLeft 2s both;
  -o-animation: fadeInLeft 2s both;
  animation: fadeInLeft 2s both;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-500px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-500px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-500px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeInRight {
  -webkit-animation: fadeInRight 2s both;
  -moz-animation: fadeInRight 2s both;
  -o-animation: fadeInRight 2s both;
  animation: fadeInRight 2s both;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(500px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(500opx);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    -o-transform: translateX(500px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.bgHero1 {
  background: url(../images/moreFood.jpg) center no-repeat;
  background-size: cover;
}
.bgHero2 {
  background: url(../images/blur.avif) center no-repeat;
  background-size: cover;
}
.bgHero3 {
  background: url(../images/carousel-1.jpg) top right no-repeat;
  background-size: cover;
}
