<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FoodieGoodies</title>
    <link href="images/logo.png" type="image/x-icon" rel="icon" />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- Template Stylesheet -->
    <link href="./css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/leaderboard.css" />

    <!-- Custom Tab Icon -->
    <link href="../public/images/favicon.ico" rel="icon" />

    <!--Google Fonts-->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- Leaderboard styling -->
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <!-- Import chart.js Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <!-- Import anime.js library -->
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js"></script>

    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <div id="app">
      <!-- Navbar Start -->
      <nav
        class="navbar navbar-expand-lg bg-white navbar-light shadow-lg py-2 px-3 sticky-top"
      >
        <div class="navbar-brand d-flex align-items-center">
          <a href="landingPage.html">
            <img
              src="images/logo.png"
              alt="FoodieGoodies Website Logo"
              style="height: 80px; width: 80px"
            />
          </a>
          <h1>
            <span class="basic1">Foodie </span
            ><span class="basic2">Goodies</span>
          </h1>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto py-0">
            <a
              href="landingPage.html"
              class="nav-item nav-link mx-1 text-secondary-emphasis navhover"
              >Home</a
            >
            <a
              href="restaurantSelection.html"
              class="nav-item nav-link mx-1 navhover text-secondary-emphasis"
              >Restaurants</a
            >
            <a
              href="shoppingCart.html"
              class="nav-item nav-link mx-1 navhover text-secondary-emphasis"
              >Cart</a
            >
            <a
              href="orderHistory.html"
              class="nav-item nav-link mx-1 navhover text-secondary-emphasis"
              >Order History</a
            >
            <a
              href="personalProfile.html"
              class="nav-item nav-link mx-1 navhover active"
              ><strong>{{userName}}'s Profile</strong></a
            >
            <a
              class="nav-item nav-link mx-1 navhover text-secondary-emphasis"
              @click="logOut()"
              >Sign Out</a
            >
          </div>
        </div>
      </nav>
      <!-- Navbar End -->

      <!-- Main content -->
      <div class="app-container animated">
        <div class="leaderboard-section animated">
          <header id="header" class="animated">
            <h1>User Savings Leaderboard</h1>
          </header>
          <div id="leaderboard" class="animated">
            <table>
              <tr
                v-for="(user,index) in userSavingsLeaderboard"
                :class="{'highlighted-row':user.name === this.userName}"
              >
                <td class="number">{{index+1}}</td>
                <td class="name">{{user.name}}</td>
                <td class="points">
                  ${{parseFloat(user.savings).toFixed(2)}}
                  <img
                    v-if="index === 0"
                    class="medal"
                    src="./images/gold-medal.png"
                    alt="gold medal"
                  />
                  <img
                    v-else-if="index === 1"
                    class="medal"
                    src="./images/silver-medal.png"
                    alt="silver medal"
                  />
                  <img
                    v-else-if="index === 2"
                    class="medal"
                    src="./images/bronze-medal.png"
                    alt="bronze medal"
                  />
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="graphs-section animated">
          <div class="graph animated">
            <h1>Your Top Purchases</h1>
            <canvas id="topRestaurantsPolarChart"></canvas>
          </div>
          <div class="graph animated">
            <h1>Your Carbon Emissions Prevented This Year!</h1>
            <canvas id="carbonEmissionsLineChart"></canvas>
          </div>
        </div>
      </div>
    </div>

    <script type="module">
      import {
        onAuthStateChanged,
        auth,
        onValue,
        ref,
        set,
        db,
        update,
        signOut,
      } from "./index.js";

      const app = Vue.createApp({
        data() {
          return {
            orderHistory: "",
            purchaseInfo: "",
            totalSaved: 0,
            userID: "",
            userName: "",
            userAmountSaved: 0,
            restaurants: "",
            year: null,
            sizes: ["large", "medium", "small"],
            allMonths: [
              "January",
              "February",
              "March",
              "April",
              "May",
              "June",
              "July",
              "August",
              "September",
              "October",
              "November",
              "December",
            ],
            userSavingsLeaderboard: [],
            ingredientEmissions: {
              pork: 12.31,
              beef: 33.3,
              chicken: 9.87,
              rice: 4.45,
              eggs: 4.67,
              prawn: 26.87,
              fish: 13.67,
              vegetables: 0.53,
              tomato: 2.09,
              groundnuts: 3.23,
              cheese: 23.88,
            },
            userMonthlyEmissions: "",
          };
        },

        methods: {
          fadeInFromTopAnimation() {
            anime({
              targets: ".animated",
              translateY: [-40, 0], // Translate from -40px above to its original position
              opacity: [0, 1], // Fade in from 0 opacity to full
              duration: 800,
              easing: "easeOutExpo",
              delay: anime.stagger(100), // Delay of 100ms between each element
            });
          },
          fetchUserOrderHistory() {
            onValue(
              ref(db, `users/${this.userID}/orderHistory`),
              (snapshot) => {
                const orderHistory = snapshot.val();
                this.orderHistory = orderHistory;
                console.log(orderHistory);
                this.getUserPurchasedInfo();
              }
            );
          },
          fetchRestaurantsData() {
            onValue(ref(db, `restaurants/`), (snapshot) => {
              this.restaurants = snapshot.val();
              if (this.restaurants) {
                console.log(this.restaurants);
                this.calculateMoneySaved();
                this.calculateUserCarbonEmissions();
              }
            });
          },
          getUserPurchasedInfo() {
            const purchaseHistory = this.orderHistory;
            console.log(purchaseHistory);
            const purchaseInfo = {};
            for (let purchase in purchaseHistory) {
              const transaction = purchaseHistory[purchase];
              const restaurant = transaction.restaurantName;
              const bagsOrdered = transaction.bagsOrdered;

              //initialize an object for each restaurant
              if (!purchaseInfo[restaurant]) {
                purchaseInfo[restaurant] = {};
              }
              for (let bag in bagsOrdered) {
                const bagQuantity = bagsOrdered[bag];
                if (!purchaseInfo[restaurant][bag]) {
                  purchaseInfo[restaurant][bag] = bagQuantity;
                } else {
                  purchaseInfo[restaurant][bag] += bagQuantity;
                }
              }
            }
            this.purchaseInfo = purchaseInfo;
            this.renderTopRestaurantsPolarChart(this.purchaseInfo);
          },

          calculateMoneySaved() {
            const purchaseInfo = this.purchaseInfo;
            let totalSavings = 0;
            // loop through each restaurant in purchaseInfo
            for (let restaurantName in purchaseInfo) {
              // check if the restaurant exists in the restaurants data
              if (this.restaurants[restaurantName]) {
                // loop through each bag type in purchaseInfo for that restaurant
                for (let bagType in purchaseInfo[restaurantName]) {
                  // check if the bag type exists for that restaurant in the restaurants data
                  if (this.restaurants[restaurantName].bagsInfo[bagType]) {
                    const originalPrice =
                      this.restaurants[restaurantName].bagsInfo[bagType]
                        .originalPrice;
                    const discountedPrice =
                      this.restaurants[restaurantName].bagsInfo[bagType].price;
                    const priceDifference = originalPrice - discountedPrice;
                    const quantityPurchased =
                      purchaseInfo[restaurantName][bagType];
                    totalSavings += priceDifference * quantityPurchased;
                  }
                }
              }
            }
            this.userAmountSaved = totalSavings.toFixed(2);
            //proceed to update the user's amount saved
            if (this.userAmountSaved) {
              this.updateUserSavings();
              this.fetchUserSavingsLeaderboard();
            }
            console.log(this.userAmountSaved);
            return totalSavings;
          },
          updateUserSavings() {
            const savingsPath = `users/${this.userID}/`; // Modify the path as needed
            const updatedSavings = { moneySaved: this.userAmountSaved };
            update(ref(db, savingsPath), updatedSavings)
              .then(() => {
                console.log("User savings updated successfully!");
              })
              .catch((error) => {
                console.error("Error updating user's savings: ", error);
              });
          },
          fetchUserSavingsLeaderboard() {
            onValue(ref(db, "users/"), (snapshot) => {
              const users = snapshot.val();
              const leaderboard = [];

              for (let userId in users) {
                const user = users[userId];
                leaderboard.push({
                  name: user.name,
                  savings: user.moneySaved,
                });
              }

              this.userSavingsLeaderboard = leaderboard
                .sort((a, b) => b.savings - a.savings) // Sort users by savings, in descending order
                .slice(0, 8); // Take top 8 users
              console.log(this.userSavingsLeaderboard);
            });
          },
          calculateUserCarbonEmissions() {
            const ingredientEmissions = this.ingredientEmissions;
            const userMonthlyEmissions = {};
            const purchaseHistory = this.orderHistory;

            if (purchaseHistory) {
              for (let i = 0; i < purchaseHistory.length; i++) {
                const transaction = purchaseHistory[i];
                const datetime = new Date(transaction.datetime);
                const month = datetime.toLocaleString("default", {
                  month: "long",
                });

                // Initialize the month's emission to 0 if not set
                if (!userMonthlyEmissions[month]) {
                  userMonthlyEmissions[month] = 0;
                }

                const bagsOrdered = transaction.bagsOrdered;
                const restaurantName = transaction.restaurantName;
                const restaurantData = this.restaurants[restaurantName];

                for (let bagSize in bagsOrdered) {
                  if (
                    restaurantData &&
                    restaurantData.bagsInfo &&
                    restaurantData.bagsInfo[bagSize]
                  ) {
                    const bagQuantity = bagsOrdered[bagSize];
                    const bagDistribution =
                      restaurantData.bagsInfo[bagSize].distribution;

                    for (let item in bagDistribution) {
                      const itemType = bagDistribution[item].type;
                      const itemWeight = bagDistribution[item].weight / 1000; // Convert grams to kg
                      const itemEmission =
                        ingredientEmissions[itemType] * itemWeight;

                      userMonthlyEmissions[month] += bagQuantity * itemEmission;
                    }
                  }
                }
              }
              this.userMonthlyEmissions = userMonthlyEmissions;
              console.log(this.userMonthlyEmissions);
              this.renderCarbonEmissionsChart();
            } else {
              this.userMonthlyEmissions = 0;
            }
          },
          renderCarbonEmissionsChart() {
            const monthOrder = {
              January: 0,
              February: 1,
              March: 2,
              April: 3,
              May: 4,
              June: 5,
              July: 6,
              August: 7,
              September: 8,
              October: 9,
              November: 10,
              December: 11,
            };
            const allMonths = Object.keys(monthOrder);

            const labelsWithData = Object.keys(this.userMonthlyEmissions).sort(
              (a, b) => monthOrder[a] - monthOrder[b]
            );

            const startMonth = labelsWithData[0];
            const endMonth = labelsWithData[labelsWithData.length - 1];

            const startIndex = monthOrder[startMonth];
            const endIndex = monthOrder[endMonth];

            const monthsToDisplay = allMonths.slice(startIndex, endIndex + 1);

            const dataPoints = monthsToDisplay.map(
              (month) => this.userMonthlyEmissions[month] || 0
            );

            const data = {
              labels: monthsToDisplay,
              datasets: [
                {
                  type: "bar", // Specify the type for this dataset
                  label: "Monthly Carbon Emissions (kg CO2e) - Bar",
                  data: dataPoints,
                  borderColor: "rgba(255, 99, 132, 1)",
                  backgroundColor: "rgba(255, 99, 132, 0.5)",
                  fill: true,
                },
                {
                  type: "line",
                  label: "Monthly Carbon Emissions (kg CO2e) - Line",
                  data: dataPoints,
                  borderColor: "rgba(75, 192, 192, 1)",
                  backgroundColor: "rgba(75, 192, 192, 0.5)",
                  fill: false,
                  lineTension: 0.1,
                },
              ],
            };

            const config = {
              type: "bar",
              data: data,
              options: {
                responsive: true,
                scales: {
                  x: {
                    beginAtZero: true,
                    title: {
                      display: true,
                      text: "Month-Year",
                    },
                  },
                  y: {
                    beginAtZero: true,
                    title: {
                      display: true,
                      text: "Carbon Emissions (kg CO2e)",
                    },
                  },
                },
              },
            };

            const ctx = document
              .getElementById("carbonEmissionsLineChart")
              .getContext("2d");
            new Chart(ctx, config);
          },
          renderTopRestaurantsPolarChart(purchaseInfo) {
            const restaurantCounts = {};
            for (let restaurant in purchaseInfo) {
              let totalBags = 0;
              for (let bagType in purchaseInfo[restaurant]) {
                totalBags += purchaseInfo[restaurant][bagType];
              }
              restaurantCounts[restaurant] = totalBags;
            }
            console.log(restaurantCounts);
            // Sort restaurants by the number of bags purchased and show the polar chart
            const topRestaurants = Object.keys(restaurantCounts)
              .sort((a, b) => restaurantCounts[b] - restaurantCounts[a])
              .slice(0, 6);

            const data = {
              labels: topRestaurants,
              datasets: [
                {
                  data: topRestaurants.map(
                    (restaurant) => restaurantCounts[restaurant]
                  ),
                  backgroundColor: [
                    "rgba(255, 99, 132, 0.6)",
                    "rgba(75, 192, 192, 0.6)",
                    "rgba(255, 205, 86, 0.6)",
                    "rgba(201, 203, 207, 0.6)",
                    "rgba(54, 162, 235, 0.6)",
                  ],
                },
              ],
            };

            const config = {
              type: "polarArea",
              data: data,
              options: {
                scales: {
                  r: {
                    beginAtZero: true,
                  },
                },
              },
            };

            const ctx = document
              .getElementById("topRestaurantsPolarChart")
              .getContext("2d");

            new Chart(ctx, config);
          },
          logOut() {
            const confirmation = confirm("Are you sure you want to log out?");
            if (confirmation) {
              signOut(auth)
                .then(() => {
                  sessionStorage.clear();
                  alert("You have signed out.");
                  location.href = "index.html";
                })
                .catch((error) => {
                  console.log(error.message);
                });
            }
          },
        },

        created() {
          //check current user's login id
          onAuthStateChanged(auth, (user) => {
            if (user) {
              // User is signed in
              console.log(user);
              this.userID = user.uid; //retrieve uid
              this.year = new Date().getFullYear();
              onValue(ref(db, `users/${this.userID}/name`), (snapshot) => {
                this.userName = snapshot.val();
              });

              //call functions
              this.fetchUserOrderHistory();
              this.fetchRestaurantsData();

              // this.fetchUserSavingsLeaderboard();
            } else {
              // User is signed out
              this.userID = null;
              location.href = "404.html";
            }
          });
        },
        mounted() {
          this.fadeInFromTopAnimation();
        },
      });

      const vm = app.mount("#app");
    </script>

    <!-- Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
