<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FoodieGoodies</title>
    <link href="images/logo.png" type="image/x-icon" rel="icon" />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="./css/restaurantSelection.css" />

    <!-- Custom Tab Icon -->
    <link href="../public/images/favicon.ico" rel="icon" />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <style>
      header {
        overflow: hidden;
      }

      .restaurantSelectionBanner {
        position: relative;
        z-index: -1;
        margin: -5px;
        height: 360px;
        background: center
          url("https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg");
        background-size: cover;
        filter: blur(3px);
      }

      .search-bar .search-bar-outer {
        margin: 0 auto;
        max-width: 680px;
        border-radius: 8px;
        padding: 20px 30px;
        border: 0;
        margin-top: -60px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
      }

      .search-bar .search-bar-inner h4 {
        color: rgb(163, 241, 163);
      }

      .form-control::placeholder {
        color: #aaaaaa;
        font-size: 0.8rem;
      }

      .card {
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
      }

      .card-img-top {
        max-height: 19vh;
        object-fit: cover;
      }
      .navhover:hover {
        text-decoration: underline;
      }
      .xform:hover {
        transform: scale(1.03);
        box-shadow: 0px 0px 20px rgba(0, 0, 0.5, 0.5);
      }
    </style>
  </head>

  <body>
    <div id="app">
      <!-- Navbar Start -->
      <nav
        class="navbar navbar-expand-lg bg-white navbar-light shadow-lg py-2 px-3 sticky-top"
      >
        <div class="navbar-brand d-flex align-items-center">
          <a href="landingPage.html">
            <img
              src="images/logo.png"
              alt="FoodieGoodies Website Logo"
              style="height: 80px; width: 80px"
            />
          </a>
          <h1>
            <span class="basic1">Foodie </span
            ><span class="basic2">Goodies</span>
          </h1>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto py-0">
            <a
              href="landingPage.html"
              class="nav-item nav-link mx-1 text-secondary-emphasis navhover"
              >Home</a
            >
            <a
              href="restaurantSelection.html"
              class="nav-item nav-link mx-1 navhover active"
              ><strong>Restaurants</strong></a
            >
            <a
              href="shoppingCart.html"
              class="nav-item nav-link mx-1 navhover text-secondary-emphasis"
              >Cart</a
            >
            <a
              href="orderHistory.html"
              class="nav-item nav-link mx-1 navhover text-secondary-emphasis"
              >Order History</a
            >
            <a
              href="personalProfile.html"
              class="nav-item nav-link mx-1 navhover text-secondary-emphasis"
              >{{userName}}'s Profile</a
            >
            <a
              class="nav-item nav-link mx-1 navhover text-secondary-emphasis"
              @click="logOut()"
              >Sign Out</a
            >
          </div>
        </div>
      </nav>
      <!-- Navbar End -->

      <header>
        <!-- navigation -->
        <div class="restaurantSelectionBanner"></div>
      </header>

      <!-- search bar -->
      <div class="container search-bar">
        <div class="search-bar-outer bgBasic1">
          <div class="search-bar-inner">
            <form>
              <h4 class="mb-2 text-white">Search Restaurant by Name:</h4>
              <!-- searchParameters submit -->
              <div class="input-group">
                <input
                  type="text"
                  name="keyword"
                  class="form-control"
                  placeholder="Input the restaurant name here!"
                  v-model="resname"
                />
                <div class="input-group-append">
                  <button class="btn btn-major bgBasic2" id="search-button">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Newest cards -->
      <div class="container-fluid mt-3">
        <div
          class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3"
        >
          <restaurant-card
            v-for="info,name in Object.fromEntries(Object.entries(restaurantList).filter(([key]) => key.toLowerCase().includes(resname.toLowerCase())))"
            :rname="name"
            :rinfo="info.restaurantInfo.header"
            :rmetainfo="info.metaInfo.starRating"
            :rd="`restaurantProfile.html?resname=` + name"
            :pic="`images/restaurantImages/` + name + `/img2.jpg`"
            :location="info.restaurantInfo.location"
          >
            ></restaurant-card
          >
        </div>
      </div>
      <!-- Newest cards end -->
    </div>

    <script type="module">
      import {
        db,
        auth,
        ref,
        onValue,
        onAuthStateChanged,
        update,
        push,
        set,
        signOut,
      } from "./index.js";

      const app = Vue.createApp({
        data() {
          return {
            restaurantList: {},
            userName: "",
            resname: "",
          };
        },
        methods: {
          getRestaurants() {
            onValue(ref(db, `restaurants/`), (snapshot) => {
              const reslist = snapshot.val();
              if (reslist) {
                for (let res in reslist) {
                  this.restaurantList[res] = reslist[res];
                }
              }
            });
          },
          logOut() {
            const confirmation = confirm("Are you sure you want to log out?");
            if (confirmation) {
              signOut(auth)
                .then(() => {
                  sessionStorage.clear();
                  alert("You have signed out.");
                  location.href = "index.html";
                })
                .catch((error) => {
                  console.log(error.message);
                });
            }
          },
        },
        created() {
          onAuthStateChanged(auth, (user) => {
            if (user) {
              onValue(ref(db, `users/${user.uid}/name`), (snapshot) => {
                this.userName = snapshot.val();
                this.getRestaurants();
              });
            } else {
              location.href = "404.html";
            }
          });
        },
      });

      app.component("restaurant-card", {
        data() {
          return {};
        },
        template: `
        <div class="col mt-2 mb-md-5 mb-2">
            <div
              class="card"
              style="width: 23rem; margin-left: auto; margin-right: auto"
            >
              <img
                class="card-img-top h-100 mx-auto p-1 xform img-fluid"
                v-bind:src="pic"
              />

              <div class="card-body float-lg-end">

                <h2 class="card-title">{{rname}}</h2>

                <p class="card-text">
                  {{rinfo}}
                </p>
                <h5>
                  <span id="rating">{{rmetainfo}}</span> / 5<img
                    style="width: 50px"
                    src="images/basic-star-flat-vector_78370-1483.avif"
                  />
                </h5>
                <p class="card-text">
                  {{location}}
                </p>
                <a v-bind:href="rd" class="btn btn-success bgBasic1 text-white"
                  >View Restaurant</a
                >
              </div>
            </div>
          </div>`,
        props: ["pic", "rname", "rinfo", "rmetainfo", "rd", "pic", "location"],
      });

      const vm = app.mount("#app");
    </script>

    <!-- Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
